<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DbConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=housewife_bot;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings file="Local.config">
    <add key="TelegramToken"/>
    <add key="UpdateNotificationsInterval" value="60000"/>
    <add key="SendNotificationsInterval" value="300000"/>
    <add key="RetryPollingDelay" value="60000" />
  </appSettings>
</configuration>